### Numbers

In [1]:
12345

12345

In [2]:
my_number = 12345

In [3]:
type(my_number)

int

In [5]:
my_float = 3.14 
print(type(my_float))
print(my_float)

<class 'float'>
3.14

In [6]:
15 + 5

20

In [7]:
14 - 3

11

In [8]:
5 + 5.4

10.4

In [9]:
15.0 + 2

17.0

In [10]:
6 * 3.0

18.0

In [12]:
6 / 8

0.75

In [14]:
6 / 3 # Python, sonuç tam sayı olsa bile float şekilde yazdırır

2.0

In [15]:
6 // 5 # bölümü verir

1

In [17]:
8 % 5 # bölümden kalanı verir

2

#### Another way to look at modulo

In [18]:
whole_part = int(5/3)
decimal_part = 5 / 3 - whole_part
print(decimal_part)

0.6666666666666667

In [19]:
whole_remainder = decimal_part*3
print(whole_remainder)

2.0

In [20]:
int(3.45)

3

In [21]:
float(14)

14.0

In [22]:
round(3.1415, 2)

3.14

In [23]:
print(type(round(3.1415)))

<class 'int'>

In [25]:
import math
print(math.floor(3.99999))

3

In [26]:
2 + 3 * 4

14

In [27]:
(2 + 3) * 4

20

In [34]:
0.1 * 3

0.30000000000000004

In [31]:
from decimal import Decimal

In [33]:
Decimal('0.1') * 3

Decimal('0.3')

In [35]:
import random 
random.randint(0, 99)

89

### Strings

In [36]:
my_string = 'my text is "important"' 
print(my_string)

my text is "important"

In [37]:
long_string = '''
###
 text
    example
'''
print(long_string)

###
 text
    example

In [39]:
str(my_number)
print(type(my_number))

<class 'int'>

In [44]:
print(my_string)
print(my_string[2])
print(len(my_string[2]))

my text is "important"

1

In [43]:
len(my_string[-1])

1

Slice
<str>[<start>:stop:<step>]

In [45]:
my_string[1:4]

'y t'

In [46]:
my_string[:4]

'my t'

In [47]:
my_string[1:]

'y text is "important"'

In [52]:
my_string[::-2]

'"ntom"s xty'

In [53]:
my_string.split() # boşluklara göre kelimeleri ayırır

['my', 'text', 'is', '"important"']

In [54]:
animals = ["cat", "dog", "horse"]

In [55]:
", ".join(animals)

'cat, dog, horse'

In [56]:
for item in my_string:
    print(item)

m
y

t
e
x
t

i
s

"
i
m
p
o
r
t
a
n
t
"

### fstrings

In [58]:
name="Kemal"
age=33
print(f"My name is {name} and my age is {age}")

My name is Kemal and my age is 33

In [59]:
import datetime

In [60]:
today = datetime.datetime.today()
print(today)

2023-11-26 13:46:17.404967

In [64]:
print(f"{today: %d %B %Y}")

 26 November 2023

### Boolean

In [65]:
bool(1)

True

In [66]:
bool(0)

False

In [72]:
my_variable = 0 
if my_variable:
    print("yes it is true")
else:
    print("no it is false")

no it is false

In [73]:
my_variable is True

False