In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv("../data/predictive_maintenance.csv")

In [3]:
df.sample(4)

,UDI,Product ID,Type,Air temperature [K],Process temperature [K],Rotational speed [rpm],Torque [Nm],Tool wear [min],Target,Failure Type
7508,7509,M22368,M,300.5,311.9,1730,27.5,209,0,No Failure
9666,9667,M24526,M,299.1,310.3,1838,24.0,235,0,No Failure
2396,2397,M17256,M,299.1,308.5,1592,34.2,153,0,No Failure
8284,8285,L55464,L,298.8,310.6,1651,33.3,0,0,No Failure

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 10 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   UDI                      10000 non-null  int64
 1   Product ID               10000 non-null  object
 2   Type                     10000 non-null  object
 3   Air temperature [K]      10000 non-null  float64
 4   Process temperature [K]  10000 non-null  float64
 5   Rotational speed [rpm]   10000 non-null  int64
 6   Torque [Nm]              10000 non-null  float64
 7   Tool wear [min]          10000 non-null  int64
 8   Target                   10000 non-null  int64
 9   Failure Type             10000 non-null  object
dtypes: float64(3), int64(4), object(3)
memory usage: 781.4+ KB