### Numbers

In [1]:
12345

12345

In [2]:
my_number = 12345

In [3]:
type(my_number)

int

In [5]:
my_float = 3.14 
print(type(my_float))
print(my_float)

<class 'float'>
3.14

In [6]:
15 + 5

20

In [7]:
14 - 3

11

In [8]:
5 + 5.4

10.4

In [9]:
15.0 + 2

17.0

In [10]:
6 * 3.0

18.0

In [12]:
6 / 8

0.75

In [14]:
6 / 3 # Python, sonuç tam sayı olsa bile float şekilde yazdırır

2.0

In [15]:
6 // 5 # bölümü verir

1

In [17]:
8 % 5 # bölümden kalanı verir

2

#### Another way to look at modulo

In [18]:
whole_part = int(5/3)
decimal_part = 5 / 3 - whole_part
print(decimal_part)

0.6666666666666667

In [19]:
whole_remainder = decimal_part*3
print(whole_remainder)

2.0

In [20]:
int(3.45)

3

In [21]:
float(14)

14.0

In [22]:
round(3.1415, 2)

3.14

In [23]:
print(type(round(3.1415)))

<class 'int'>

In [25]:
import math
print(math.floor(3.99999))

3

In [26]:
2 + 3 * 4

14

In [27]:
(2 + 3) * 4

20

In [34]:
0.1 * 3

0.30000000000000004

In [31]:
from decimal import Decimal

In [33]:
Decimal('0.1') * 3

Decimal('0.3')

In [35]:
import random 
random.randint(0, 99)

89

### Strings

In [36]:
my_string = 'my text is "important"' 
print(my_string)

my text is "important"

In [37]:
long_string = '''
###
 text
    example
'''
print(long_string)

###
 text
    example

In [39]:
str(my_number)
print(type(my_number))

<class 'int'>

In [44]:
print(my_string)
print(my_string[2])
print(len(my_string[2]))

my text is "important"

1

In [43]:
len(my_string[-1])

1

Slice
<str>[<start>:stop:<step>]

In [45]:
my_string[1:4]

'y t'

In [46]:
my_string[:4]

'my t'

In [47]:
my_string[1:]

'y text is "important"'

In [52]:
my_string[::-2]

'"ntom"s xty'

In [53]:
my_string.split() # boşluklara göre kelimeleri ayırır

['my', 'text', 'is', '"important"']

In [54]:
animals = ["cat", "dog", "horse"]

In [55]:
", ".join(animals)

'cat, dog, horse'

In [56]:
for item in my_string:
    print(item)

m
y

t
e
x
t

i
s

"
i
m
p
o
r
t
a
n
t
"

### fstrings

In [58]:
name="Kemal"
age=33
print(f"My name is {name} and my age is {age}")

My name is Kemal and my age is 33

In [59]:
import datetime

In [60]:
today = datetime.datetime.today()
print(today)

2023-11-26 13:46:17.404967

In [64]:
print(f"{today: %d %B %Y}")

 26 November 2023

### Boolean

In [65]:
bool(1)

True

In [66]:
bool(0)

False

In [72]:
my_variable = 0 
if my_variable:
    print("yes it is true")
else:
    print("no it is false")

no it is false

In [73]:
my_variable is True

False

> **02.12.2023**

### Boolean Operators

and, or, not

In [1]:
bool(1) and bool(0)

False

In [2]:
result = 1 and 0
bool(result)

False

In [3]:
False or True

True

In [6]:
print(not True and False)
print(not (True and False))

False
True

In [7]:
1 == True

True

In [8]:
0 == True

False

In [12]:
first_number = 10
second_number = 5

if first_number > second_number:
    print(f"{first_number} is greater than {second_number}")

10 is greater than 5

In [11]:
first_number = 10
second_number = 25

if first_number > second_number:
    print(f"{first_number} is greater than {second_number}")
else:
    print(f"{second_number} is greater than {first_number}")

25 is greater than 10

In [13]:
first_number = 10
second_number = 10

if first_number > second_number:
    print(f"{first_number} is greater than {second_number}")
elif first_number == second_number:
    print(f"{second_number} is equal with {first_number}")
else:
    print(f"{second_number} is greater than {first_number}")

10 is equal with 10

In [24]:
test_score = 80
age = 18
# age between 16-18 intern-driver, score 80 or above, intern-driver
# age above 18, score 80 or above, driver
# age between 16-18, score 60-80, supervised-intern driver
# age above 18, score 60-80, supervised-driver

def driver_status(age, test_score):
    if 16<=age<18 and 80<=test_score:
        print("intern-driver")
    elif 18<=age and 80<=test_score:
        print("driver")
    elif 16<=age<18 and 60<=test_score<80:
        print("supervised-intern-driver")
    elif 18<=age and 60<=test_score<80:
        print("supervised-driver")
    else:
        print("no lisence driver")

driver_status(16, 80)

intern-driver

In [25]:
def driver_status2(age, test_score):
    if test_score >= 80:
        if 18 > age >= 16:
            return "intern-driver"
        elif age >= 18: 
            return "driver"
    elif 80 > test_score >= 60:
        if 18 > age >=16:
            return "supervised-intern-driver"
        elif age >=18:
            return "supervised-driver"
    return "Unlicenced"

In [26]:
def buzz_func(number):
    return "Buzz!" if number % 2 == 0 else str(number)

In [28]:
my_number=12
buzz_func(my_number)

'Buzz!'

### String Methods

In [40]:
test_string = "Ada Lovelace Academy had started!     "

In [41]:
test_string.lower()

'ada lovelace academy had started!     '

In [42]:
test_string.upper()

'ADA LOVELACE ACADEMY HAD STARTED!     '

In [43]:
test_string.strip()

'Ada Lovelace Academy had started!'

In [44]:
test_string = "Ada Lovelace Academy had started!"
test_string.strip('!')

'Ada Lovelace Academy had started'

In [45]:
test_string.endswith('!')

True

In [46]:
test_string.replace('!', '.')

'Ada Lovelace Academy had started.'

In [47]:
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

### Comparisons

In [48]:
15 != 10

True

In [49]:
"Ada" == "Lovelace"

False

In [55]:
15 is not my_number

<>:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
<>:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
C:\Users\leyla\AppData\Local\Temp\ipykernel_15032\3648682713.py:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
  15 is not my_number

True

In [56]:
my_list = [1, 2, 3]
print(3 not in my_list)
print(1 in my_list)

False

### List
> Mutable

In [57]:
empty_list = []
print(empty_list)

[]

In [58]:
example_list = [1, "string", [1, 2, 3]]
print(example_list)

[1, 'string', [1, 2, 3]]

In [59]:
test_list = list()
print(test_list)

[]

In [60]:
example_list = list(1, "string", [1, 2, 3])
print(example_list)

TypeError: list expected at most 1 argument, got 3

In [62]:
example_list = list(1)
print(example_list)

TypeError: 'int' object is not iterable

In [64]:
example_list = list("string")
literal_list = ["string"]
print(example_list)
print(literal_list)

['s', 't', 'r', 'i', 'n', 'g']
['string']

In [69]:
example_list = [1, "academy", [1, 2, 3]]
example_list[0]

1

In [70]:
example_list[-1]

[1, 2, 3]

In [71]:
example_list[:2]

[1, 'academy']

In [72]:
colors = ["yellow", "green", "red", "blue", "purple"]

for color in colors:
    print(color)

yellow
green
red
blue
purple

In [73]:
for index, color in enumerate(colors):
    print(f"{index}: {color}")

0: yellow
1: green
2: red
3: blue
4: purple

In [84]:
cubes_to_1000 = []

for number in range(0, 11, 1):
    cubes_to_1000.append(number**3)

cubes_to_1000

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [85]:
new_colors = colors
print(new_colors)

['yellow', 'green', 'red', 'blue', 'purple']

In [86]:
new_colors.append("orange")
print(new_colors)

['yellow', 'green', 'red', 'blue', 'purple', 'orange']

In [87]:
print(colors)

['yellow', 'green', 'red', 'blue', 'purple', 'orange']

In [89]:
colors.pop() # delete last element

'orange'

In [90]:
print(colors)

['yellow', 'green', 'red', 'blue', 'purple']

In [91]:
newest_colors = colors.copy()
print(newest_colors)

['yellow', 'green', 'red', 'blue', 'purple']

In [92]:
newest_colors.append("black")
print(newest_colors)
print(colors)

['yellow', 'green', 'red', 'blue', 'purple', 'black']
['yellow', 'green', 'red', 'blue', 'purple']

In [93]:
newest_colors.insert(0, "gray")
print(newest_colors)

['gray', 'yellow', 'green', 'red', 'blue', 'purple', 'black']

In [94]:
# extend: add two list together

In [95]:
newest_colors.remove('yellow')
newest_colors

['gray', 'green', 'red', 'blue', 'purple', 'black']

In [96]:
newest_colors.remove('cyan')

ValueError: list.remove(x): x not in list

In [97]:
# reverse:

In [101]:
colros = ['yellow', 'green', 'red', 'blue', 'purple']
colors.sort(reverse=True)
colors

['yellow', 'red', 'purple', 'green', 'blue']

In [102]:
colors.index("red")

1

### Tuples & Dictionaries

In [103]:
my_tuple = tuple()

In [104]:
my_tuple = tuple([10])

In [105]:
print(my_tuple)

(10,)

In [106]:
my_tuple = tuple("Lovelace")
print(my_tuple)

('L', 'o', 'v', 'e', 'l', 'a', 'c', 'e')

In [107]:
my_tuple = tuple([10, "Ada", "Lovelace", 11])
print(my_tuple)

(10, 'Ada', 'Lovelace', 11)

In [108]:
# dictionary
animal_colors = {
    "cat": "yellow",
    "dog": "black",
    "horse": "brown"
}

In [110]:
animal_colors_tuple = tuple(animal_colors)
print(animal_colors_tuple)

('cat', 'dog', 'horse')

In [112]:
animal_colors_tuple_2 = tuple(animal_colors.items())
animal_colors_tuple_2

(('cat', 'yellow'), ('dog', 'black'), ('horse', 'brown'))

In [115]:
my_new_tuple = ("ada") # str. For tuple, ("ada", ) 
print(type(my_new_tuple))

<class 'tuple'>

In [116]:
my_new_tuple = "ada", "lovelace"
print(my_new_tuple)

('ada', 'lovelace')

In [117]:
my_new_tuple[0]

'ada'

In [118]:
animals = dict([('cat', 'yellow'), ('dog', 'black'), ('horse', 'brown')])
print(animals)

{'cat': 'yellow', 'dog': 'black', 'horse': 'brown'}

In [119]:
animals = {
    "cat":{
        "color": "yellow",
        "weight": "5.1"
    },
    "dog": "black",
    "horse": "brown"
}

In [120]:
animals["dog"]

'black'

In [121]:
animals["dolphin"]

KeyError: 'dolphin'

In [122]:
animals["cat"]

{'color': 'yellow', 'weight': '5.1'}

In [123]:
animals["cat"]["color"]

'yellow'

In [124]:
animals.get("cat")

{'color': 'yellow', 'weight': '5.1'}

In [125]:
animals.get("bear")

In [126]:
animals["bear"] = "brown"

In [127]:
print(animals)

{'cat': {'color': 'yellow', 'weight': '5.1'}, 'dog': 'black', 'horse': 'brown', 'bear': 'brown'}

In [128]:
animals.pop("horse")

'brown'

In [129]:
animals

{'cat': {'color': 'yellow', 'weight': '5.1'}, 'dog': 'black', 'bear': 'brown'}

In [ ]:
# del

In [130]:
animal_colors = {
    "cat": "yellow",
    "dog": "black",
    "horse": "brown"
}

In [131]:
for animal, color in animal_colors.items():
    print(f"{animal} is {color}")

cat is yellow
dog is black
horse is brown

### Sets

In [ ]:
# sets are mutable 
# frozensets are immutable

# iteration
# membership (in, not in) # It is not costly to check if there is an element in the sets.
# len()
# copy()

In [ ]:
## sets do not support!:
### indexing
### ordering, sorting
### slicing
### concat +

In [132]:
my_set = {"ada"}
print(type(my_set))

<class 'set'>

In [133]:
animal_set = set(animal_colors)
print(animal_set)

{'horse', 'dog', 'cat'}

In [134]:
animal_colors = {
    "cat": "yellow",
    "dog": "black",
    "horse": "brown",
    "bear": "brown"
}

animal_set = set(animal_colors.values())
print(animal_set)

{'black', 'brown', 'yellow'}

In [135]:
numbers = [1, 1, 1, 2, 2, 2, 3, 4, 4, 5, 15]

calculated_numbers = {number**2 for number in numbers if number % 3 == 0}
calculated_numbers

{9, 225}

In [148]:
def calc_num(numberss):
    sonuc = []
    for number in numberss:
        if (number**2) % 3 == 0:
            sonuc.append(number**2)
    return set(sonuc)

calc_num(numbers)

{9, 225}

In [149]:
elements_string = set("lovelace")
print(elements_string)

{'a', 'e', 'c', 'v', 'o', 'l'}

In [151]:
birds = {"crow", "sparrow", "eagle", "chicken", "albatross"}

animals = {'chicken': 'white',
           'sparrow': 'grey',
           'eagle': 'brown and white',
           'albatross': 'grey and white',
           'crow': 'black',
           'elephant': 'grey', 
           'dog': 'rust',
           'cow': 'black and white',
           'tiger': 'orange and black',
           'cat': 'grey',
           'squirrel': 'black'}

In [152]:
birds.isdisjoint(animals)

False

In [153]:
birds.issubset(animals)

True

In [154]:
set(animals).issuperset(birds)

True